.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    align-self: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.lista {
  width: 220px;
  height: 592px;
  overflow-y: auto;
}

table {
  width: 100%;
}

thead, tbody, tr, td, th { 
  display: block; 
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 40px;
  /*text-align: left;*/
}

tbody {
  height: 320px;
  overflow-y: auto;
}

thead {
    /* fallback */
}

tbody td, thead th {
  width: 50%;
  float: left;
}