.lista {
  width: 220px;
  height: 592px;
  overflow-y: auto;
}

table {
  width: 100%;
}

thead, tbody, tr, td, th { 
  display: block; 
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 40px;
  /*text-align: left;*/
}

tbody {
  height: 320px;
  overflow-y: auto;
}

thead {
    /* fallback */
}

tbody td, thead th {
  width: 50%;
  float: left;
}